table, th, td {
    border: 1px solid black;
  }

footer{
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  background-color: darkgray;
}

main{
  position:absolute;
  left: 50%;
  top: 50%;
  transform:translate(-50%, -50%);
}

header{
  background-color: darkgray;
}

.loginDiv{
  display: flex;
  justify-content: right;
}

.orangeText{
  color: orange;
}

.loginForm input{
   margin-right: 4px;
}

#allBooks td, #allBooks th{
  padding: 4px;
}

#allBooks{
  margin-top: 16px;
}

.fieldName{
  min-width: 500px;
}
